.container
{
    display: flex;
    flex-direction: column;
}

.inputContainer
{
    display: flex;
    gap: 10px;
}

.animationContainer
{
    position: relative;
}

.loading
{
    position: absolute;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hidden
{
    display: none;
    visibility: hidden;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}